/* Setting up Variable colors */
:root {
    --dark: black;
    --lighter: rgb(112, 106, 106);
    --bright: white;
}

/* What the background color, font color, and font type is for the Website */
body {
    background-color: var(--dark);
    color: var(--bright);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: 8px solid var(--dark);
    border-radius: 10px;
}

/* The header sits on top of the image and positioning it so they are not parallel. */
header h1 .name {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    font-size: 25px;
    margin-left: 30px;
}

/* The navigation bar also sits on top of the image. */
header nav {
    margin-right: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin-left: 25px;
    text-decoration: none;
    color: var(--bright);
}

/* Getting rid of the underline and color change for the link. As well as adding a background to it when
someone hovers over it */
a:link {
    text-decoration: none;
    color: var(--bright);
}

a:visited {
    text-decoration: none;
    color: var(--bright);
}

a:hover {
    box-shadow: 0 0 5px #fff, 3px 3px 6px 3px #0066ff;
}

/* Creating a box around each of the article sections */
.full-content {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 150%;
    padding: 0.5rem 1rem;
    color: var(--bright);
    outline: 2px solid var(--dark);
    /* margin: 40px; */
    border-radius: 15px;
    box-shadow: 0 0 10px #fff, 6px 6px 10px 8px #0066ff;
}


#about {
    margin-top: 250px;
}

/* Styling for the avatarr picture and the description in the about me section of the webpage. */
#about .avatar {
    height: 250px;
    width: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#about p {
    padding: 0 20px 20px 0;
    color: var(--bright);
    text-align: center;
    float: right;
    line-height: .25in;
}

/* Styling the footer */
footer h4 {
    text-align: center;
    margin: 75px 0 0 0;
    padding: 3rem 1rem;
    color: var(--bright);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Using media query to get rid of extra margin on the side when the page is shrunk. */
@media screen and (max-width: 1026px) {
    .header-image {
        margin: 0 0 0 0;
    }
}