/* Setting up Variable colors */
:root {
    --dark: black;
    --lighter: rgb(112, 106, 106);
    --bright: white;
}

/* What the background color, font color, and font type is for the Website */
body {
    background-color: var(--dark);
    color: var(--bright);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: 8px solid var(--dark);
    border-radius: 10px;
    position: fixed; 
    top: 0;
    width: 100%;
    background-color: black;
}

/* The header sits on top of the image and positioning it so they are not parallel. */
header h1 .name {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    font-size: 25px;
    margin-left: 30px;
}

/* The navigation bar also sits on top of the image. */
header nav {
    margin-right: 30px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin-left: 25px;
    text-decoration: none;
    color: var(--bright);
}

/* Getting rid of the underline and color change for the link. As well as adding a background to it when
someone hovers over it */
a:link {
    text-decoration: none;
    color: var(--bright);
}

a:visited {
    text-decoration: none;
    color: var(--bright);
}

a:hover {
    box-shadow: 0 0 5px #fff, 3px 3px 6px 3px #0066ff;
}

/* Creating a box around each of the article sections */
.full-content {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 150%;
    padding: 0.5rem 1rem;
    outline: 2px solid var(--dark);
    /* margin: 40px; */
    border-radius: 15px;
    /* box-shadow: 20px 20px 20px 15px #0066ff; */

}

#work {
    margin-top: 100px;
}

/* Making sure that the the text in the area will wrap- once anything is added. */
#work .content-work {
    display: flex;
    position:relative;
    flex-direction: column;
    min-height: 100%;
    padding: 1rem 2rem;
    border-radius: 8px;
}

.title {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.card-img-top {
    border-radius: 8px;
}

.card-text {
    font-weight: bold;
}

.card-top {
    border-radius: 8px;
    margin-bottom: 100px;
}

.repo-link {
    align-items: center;
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* When hovering over work, they will enlarge. */
img:hover {
    box-shadow: 0 0 10px #fff, 6px 6px 10px 8px #0066ff;
    transform: scale(1.10);
}

img {
    border-radius: 8px;
}

/* Creating the background for each of the 'coming soon' under my work. Making sure that each of the content boxes fit within the 'my work' section. */
#work .content-work a {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    margin-bottom: 30px;
}

/* Making sure that the coming soon words sit on top of the image, even when the page is shrunk. */
#work .content-work h3 {
    display: inline;
    text-align: center;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    width: 60%;
}

p {
    line-height: .25in;
}


/* Styling the footer */
footer h4 {
    text-align: center;
    margin: 50px 0 0 0;
    padding: 3rem 1rem;
    color: var(--bright);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Using media query fix the nav bar when in mobile */
@media screen and (max-width: 775px) {
    header nav li{
        margin-top: 50px;
        font-size: 15px;
    }
}