/* Setting up Variable colors */
:root {
    --dark: black;
    --lighter: rgb(112, 106, 106);
    --bright: white;
}

/* What the background color, font color, and font type is for the Website */
body {
    background-color: var(--dark);
    color: var(--bright);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border: 8px solid var(--dark);
    border-radius: 10px;
}

/* Making the image sit behind the text */
.header-image {
    
    width: 200px;
    max-height: auto;
    position: relative;
    display: inline-flex;
    margin: 0 800px 0 0;
    z-index: -1;
}


/* The header sits on top of the image and positioning it so they are not parallel. */
header h1 .name {
    z-index: 999;
    margin: 0 auto;
    float: center;
    padding-top: 100px;
    font-size: 65px;
    align-items: center;
}


/* The navigation bar also sits on top of the image. */
header nav {
    padding-top: 50px;
    float: center;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35%;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    margin-left: 30px;
    text-decoration: none;
    color: var(--bright);
    
}

/* Getting rid of the underline and color change for the link. As well as adding a background to it when
someone hovers over it */
a:link {
    text-decoration: none;
    color: var(--bright);
}

a:visited {
    text-decoration: none;
    color: var(--bright);
}

a:hover {
    box-shadow: 0 0 5px #fff, 3px 3px 6px 3px #0066ff;
}

/* Making the quote sit on the header correctly and under the navigation bar. */
header .quote {
    display: block;
    font-size: 16px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    line-height: 30px;
    margin-top: 40px
}

.create {
    font-weight: bolder;
}

/* Styling the footer */
footer h4 {
    text-align: center;
    margin: 250px 0 0 0;
    padding: 3rem 1rem;
    color: var(--bright);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Using media query to get rid of extra margin on the side when the page is shrunk. */
@media screen and (max-width: 1026px) {
    .header-image {
        margin: 0 0 0 0;
    }
}